@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
html {
  background: rgb(255,237,134);
  background: radial-gradient(circle, rgba(255,237,134,1) 10%, rgba(133,172,251,1) 48%, rgba(111,79,206,1) 82%);
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overscroll-behavior: none;
  text-align: center;
}
header {
  font-family: 'Metal Mania';
  color: transparent;
  text-shadow: 0px 0px 0px #6543cb, -6px 0px 0px #f9e66b;
  font-size: 4vw;
  position: fixed;
  top: -1%;
  text-align: center;
}