@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
html {
  background: rgb(255,237,134);
  background: radial-gradient(circle, rgba(255,237,134,1) 10%, rgba(133,172,251,1) 48%, #704795 82%);
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-overscroll-behavior: none;
  overscroll-behavior: none;
  text-align: center;
  font-family: 'Metal Mania';
  font-size: 3vw;
  color: #704795;
}
h1 {
  color: transparent;
  text-shadow: 0px 0px 0px #704795, -6px 0px 1px #f9e66b, 1px 0px 2px #000000;
  font-size: 8vw;
  margin-top: -2%;
  text-align: center;
}
.compass {
  background-image: url(assets/hestheman.png);
  background-size: 100%;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

