@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
html {
  background: rgb(255,237,134);
  background: radial-gradient(circle, rgba(255,237,134,1) 10%, rgba(133,172,251,1) 48%, #704795 82%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: fixed;
}
body {
  margin: 0;
  font-family: 'Metal Mania';
  font-size: 5vw;
  color: #704795;
  overscroll-behavior: none;
  position: fixed;
  overflow: none;
}
h1 {
  color: transparent;
  text-shadow: 0px 0px 0px #704795, -6px 0px 1px #f9e66b, 1px 0px 2px #000000;
  font-size: 6vw;
  width: 100%;
  height: 100%;
  margin-top: 1%;
  margin-left: 40%;
  text-align: center;
}
.compass {
  background-image: url(assets/hestheman.png);
  background-size: 100%;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  position: fixed;
  left: 20%; 
  top: 30%;
}
.zoom {
  position: fixed;
  right: 30%;
  top: 30%;
}

